{% extends "base.html" %} {% load i18n %}
{# allauth layout shim: makes allauth pages inherit site chrome and styles #} {% block title %}{% trans "Account" %} -
{{ block.super }}{% endblock %} {% block extra_head %} {{ block.super }}
{% endblock %} {% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            {% block authentication %}{% endblock authentication %}
        </div>
    </div>
</div>
{% endblock %}